*
!.gitignore
!project.pdf
!README.md
!BankWebService/
!BankWebService/res/
!BankWebService/res/*
!BankWebService/src/
!BankWebService/src/*
!BankWebService/src/bank/
!BankWebService/src/bank/*
!BankWebService/src/common/
!BankWebService/src/common/*
!EiffelCorp/
!EiffelCorp/src/
!EiffelCorp/src/*
!EiffelCorp/res/
!EiffelCorp/res/*
!EiffelCorp/res/car_img/
!EiffelCorp/res/car_img/*
!EiffelCorp/src/common/
!EiffelCorp/src/common/*
!EiffelCorp/src/company/
!EiffelCorp/src/company/*
!EiffelCorp/src/gui/
!EiffelCorp/src/gui/*
!Documentation/
!Documentation/*
!Documentation/Mockup/
!Documentation/Mockup/*
!Documentation/Mockup/Files/
!Documentation/Mockup/Files/*
!Documentation/Mockup/Images/
!Documentation/Mockup/Images/*
!IfsCars/
!IfsCars/res/
!IfsCars/res/*
!IfsCars/src/
!IfsCars/src/*
!IfsCars/res/car_img/
!IfsCars/res/car_img/*
!IfsCars/src/car_rental/
!IfsCars/src/car_rental/*
!IfsCars/src/common/
!IfsCars/src/common/*
!IfsCarsService/
!IfsCarsService/src/
!IfsCarsService/src/*
!IfsCarsService/src/bank/
!IfsCarsService/src/bank/*
!IfsCarsService/src/common/
!IfsCarsService/src/common/*
!IfsCarsService/src/service/
!IfsCarsService/src/service/*
!IfsCarsServiceClient/
!IfsCarsServiceClient/src/
!IfsCarsServiceClient/src/*
!IfsCarsServiceClient/src/client/
!IfsCarsServiceClient/src/client/*
!IfsCarsServiceClient/src/common/
!IfsCarsServiceClient/src/common/*
!IfsCarsServiceClient/src/gui/
!IfsCarsServiceClient/src/gui/*
!Libraries/
!Libraries/*